.overall{
    color:rgb(59, 110, 206);
    background-color:aliceblue;
}
.mainmenu-choose{
    height:60%;
    width: 60%;
    margin: 5% 20%;
}
#mainmenu-title{
    height:20%;
    width:60%;
    margin: 5% 20%;
    font-size: xx-large;
}
#mainmenu-quiz{
    font-size: large;
}
#mainmenu-add-new-hirabun{
    font-size: small
}
#mainmenu-login{
    font-size: small
}
#answerCorrect{
    color:red;
    font-size: 5vw;
    text-align: center;
    margin: 5%;
}
#answerCorrect-commentary{
    color:black;
    font-size:large;
    margin: 5% 10%;
}
#answerCorrect-returnButton{
    font-size: large;
    align-items: flex-end;
    text-align:center;
    margin: 10% 10%
}