.overall{
    color:rgb(59, 110, 206);
    background-color:aliceblue;
}
.mainmenu-choose{
    height:60%;
    width: 60%;
    margin: 5% 15%;
}
.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
}
#mainmenu-title{
    height:20%;
    width:80%;
    margin: 7% 10%;
    font-size: 7vw;
}
#mainmenu-quiz{
    font-size: 2vw;
}
#mainmenu-add-new-hirabun{
    font-size: small;
}
#mainmenu-login{
    font-size: small;
    margin-top: 2%
}
#answerCorrect{
    color:red;
    font-size: 5vw;
    text-align: center;
    margin: 5%;
}
#answerCorrect-commentary{
    color:black;
    font-size:large;
    margin: 5% 10%;
}
#answerCorrect-returnButton{
    font-size: large;
    align-items: flex-end;
    text-align:center;
    margin: 10% 10%
}
@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(3vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}